{% include 'partials/head.liquid' %}
    <div class="search-bar">
      <input type="text" placeholder="Today I want gift for Dreamers">
      <button></button>
    </div>
{% include 'partials/foot.liquid' %}
