{% include 'partials/head.liquid' %}
  <aside>
    <div class="logo">MILLEDONI</div>
    <div class="tagline">Finding and sharing gifts ideas</div>
    <h2>I’m looking for a gift for...</h2>
    <div class="search-bar">
      <input type="text" placeholder="Today I want gift for Dreamers">
      <button></button>
    </div>
  </aside>

  <main>
    <header>
      <button class="btn">Create your List</button>
      <div class="user-icon"></div>
    </header>

    <div class="filter-bar">Filter ▼</div>

    <section class="card-grid">
      <article class="card">
        <img src="" alt="">
        <div class="content">
          <h3>A used bicycle</h3>
        </div>
      </article>

      <article class="card">
        <img src="" alt="">
        <div class="content">
          <h3>Create a list for your best friend</h3>
        </div>
      </article>

      <article class="card">
        <img src="" alt="">
        <div class="content">
          <h3>A cinema card</h3>
        </div>
      </article>

      <article class="card">
        <img src="" alt="">
        <div class="content">
          <h3>A tropical plant</h3>
        </div>
      </article>

    </section>
  </main>
{% include 'partials/foot.liquid' %}
