:root {
    --gold: #E3B101;
    --magenta: #AB2676;
    --blue: #466EC0;
    --red: #B22A1E;
    --teal: #22A586;
  
    --bg-light: #f7f7f7;
    --text-dark: #222;
    --text-gray: #555;
    --radius: 8px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background: var(--bg-light);
    color: var(--text-dark);
    display: flex;
    min-height: 100vh;
  }
